doctype html
html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Erreur 401
    body(style="background:#FDB801;")
            center
                img(src="/images/401.jpg")
                br
                a(href="/" style="color:#FFF;font-size:24px") Retourner à l'accueil