doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Error 401
    body(style="background:#FDB801;")
            img(src="/images/401.jpg")
            a(href="/") Retournez à l'accueil