doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Audio
        link(href="/css/audio.css" rel="stylesheet")
    body 
        <div id="amazingaudioplayer">
            <div class="amazingaudioplayer-image">
                <img src="" style="width:100%;max-width:100%;vertical-align:middle;">
            </div>
            <div class="amazingaudioplayer-image-clear"></div>
            <div class="amazingaudioplayer-text">
                <div class="amazingaudioplayer-title"></div>
                <div class="amazingaudioplayer-info"><br></div>
            </div>
            <div class="amazingaudioplayer-text-clear"></div>
            <div class="amazingaudioplayer-bar">
                <div class="amazingaudioplayer-controls" style="display: block;">
                    audio#listenTopMusic(controls)
                </div>
                <div class="amazingaudioplayer-bar-buttons-clear"></div>
            </div>
            <div class="amazingaudioplayer-bar-clear"></div>
        </div>